<div class="form m-auto">
    <div class="row text-white text-center justify-content-center mb-2">
        <img src="../../../../../assets/logo.svg" alt="" class="genericLogo mb-1">
        <h3 class="col-md-12">Bem Vindo</h3>
        <h6 class="col-md-12">Faça login usando suas credenciais</h6>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="tryLogin()">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <label for="userName">Login</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="btn d-flex align-items-center">
                            <i class="far fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input id="userName" class="form-control login-form" type="text" placeholder="Digite seu login"
                        formControlName="userName" />
                    <app-validate-message class="w-100" [entity]="loginForm.controls.userName">
                    </app-validate-message>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10 mb-0">

                <label for="password">Senha</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="btn d-flex align-items-center">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input id="password" class="form-control login-form" type="password" placeholder="Digite sua senha"
                        formControlName="password" />
                    <app-validate-message class="w-100" [entity]="loginForm.controls.password"></app-validate-message>

                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-1">
            <div class="col-md-10">
                <div class="float-right text-white textForgotPass">Esqueceu sua senha?</div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-10">
                <app-the-button [text]="'Login'" [propertieClass]="'btn btn-danger rounded-pill w-100'"
                    [type]="'submit'">
                </app-the-button>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <app-the-button [text]="'Criar Conta'"
                    [propertieClass]="'btn btn-outline-secondary text-white rounded-pill w-100'" [type]="'button'">
                </app-the-button>
            </div>
        </div>
    </form>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 d-flex justify-content-between socialMediaList">
            <i alt="Social Media" title="Facebook" class="fab fa-facebook-square fa-lg"></i>
            <i alt="Social Media" title="Instagram" class="fab fa-instagram fa-lg"></i>
            <i alt="Social Media" title="Twitter" class="fab fa-twitter-square fa-lg"></i>
            <i alt="Social Media" title="Linkedin" class="fab fa-linkedin fa-lg"></i>
            <i alt="Social Media" title="Youtube" class="fab fa-youtube fa-lg"></i>
        </div>
    </div>

</div>