<!-- side bar main wrapper -->
<div class="the-sidebar container p-0">
    <div class="row m-0 py-3 mb-3 asideBackHeader">
        <div class="text-center col-md-4 align-self-center">
            <img src="../../../../assets/logo.svg" alt="Logo genérica" class="genericLogo">
        </div>
        <div class="text-center col-md-8 text-logo">
            CRUD Project
        </div>
    </div>
    <app-the-menu></app-the-menu>
    <div class="row m-0 w-100">
        <button class="btn btn-danger w-100 rounded-pill mb-4" (click)="logout()">Sair</button>
    </div>
</div>